/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2018, 10:18:02 AM
    Author     : MinhTri
*/
#cfacebook{
    position:fixed;bottom:0px;right:100px;
    z-index:999999999999999;width:300px;
    height:auto;box-shadow:6px 6px 6px 10px rgba(0,0,0,0.2);
    border-top-left-radius:5px;border-top-right-radius:5px;overflow:hidden;}
#cfacebook .fchat{float:left;width:100%;height:350;
                  overflow:hidden;display:none;background-color:#fff;}
#cfacebook .fchat .fb-page{margin-top:-130px;float:left;}
#cfacebook a.chat_fb{float:left;padding:0 25px;width:300px;color:#fff;text-decoration:none;height:40px;line-height:40px;
                     text-shadow:0 1px 0 rgba(0,0,0,0.1);background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);
                     background-repeat:repeat-x;background-size:auto;background-position:0 0;background-color:#DE261D;border:0;border-bottom:1px solid #133783;z-index:9999999;margin-right:12px;font-size:18px;}
#cfacebook a.chat_fb:hover{color:#1B222C;text-decoration:none;}

.smart-banner-1-8 {
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;

    font-family: Helvetica;
    font-weight: 300;
}
.smart-banner-bottom{
    -webkit-box-shadow: 0px -1px 3px 0px rgba(67, 67, 67, 0.75);
    box-shadow: 0px -1px 3px 0px rgba(67, 67, 67, 0.75);
}
.smart-banner-top{
    -webkit-box-shadow: 0px 1px 3px 0px rgba(67, 67, 67, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(67, 67, 67, 0.75);
}

.smart-banner-sticky {
    position: fixed;
}

.smart-banner-sticky.smart-banner-top {
    top: 0;
    left: 0;
}

.smart-banner-sticky.smart-banner-bottom {
    bottom: 0;
    left: 0;
}

.smart-banner-1-8__inner{
    height: 80px;
    overflow: hidden;
}

.smart-banner-1-8__column {
    float: left;
    position: relative;
    height: 100%;
}
.smart-banner-1-8__column-center {
    width: 40%;
    display: table;
}
.smart-banner-1-8__text {
    display: table-cell;
    vertical-align: middle;
    padding: 0 2% 0 10%;
    font-size: 15px;
}
.smart-banner-1-8__column-left {
    width: 30%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform: preserve-3d;
    -o-transform: preserve-3d;
    transform-style: preserve-3d;
}
.smart-banner-1-8__column-left__close {
    width: 25%;
    font-size: 20px;
    line-height: 74px;
    padding-left: 10%;
    float: left;
}
.smart-banner-1-8__column-left__logo {
    width: 58%;
    max-width: 70px;
    float: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.smart-banner-1-8__column-right {
    width: 30%;
}
.smart-banner-1-8__button > a {
    margin: 25px 10px;
    width: initial;
    height: 30px;
    line-height: 30px;
}

.smart-banner-1-4 {
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;

    font-family: Helvetica;
    font-weight: 300;
}

.smart-banner-1-4__inner {
    height: 160px;
    overflow: hidden;
}

.smart-banner-1-4__column {
    float: left;
    position: relative;
    height: 100%;
}

.smart-banner-1-4__column-left {
    width: 40%;
    text-align: center;
}
.smart-banner-1-4__column-left__close {
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}
.smart-banner-1-4__column-left__image {
    height: 145px;
    position: relative;
    margin-top: 15px;
}
.smart-banner-1-4__column-right {
    width: 60%;
}
.smart-banner-1-4__column-right__top {
    height: 55%;
    display: table;
    text-align: center;
}
.smart-banner-1-4__column-right__bottom {
    height: 45%;
}
.smart-banner-1-4__text {
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0 10%;
}
.smart-banner-1-4__button > img {
    max-width: 70%;
    max-height: 70%;
    padding: 0 10%;
}
@media screen and (min-width: 500px){
    .smart-banner-1-4__column-left {
        width: 30%;
    }
    .smart-banner-1-4__column-right {
        width: 70%;
    }

    .smart-banner-1-4__column-right__top {
        height: 100%;
        width: 50%;
        float: left;
    }

    .smart-banner-1-4__column-right__bottom {
        height: 100%;
        width: 50%;
        float: left;
    }
    .smart-banner-1-4__button > img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.orange-button, .gray-button, .blue-button{
    height: 41px;
    line-height: 41px;
}

.orange-button, .gray-button, .product-description .product-name, .product-description .product-delivery-info{
    color: #333333;
}

.orange-button{
    background: #f37022; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #ffb202 0%, #faa519 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb202), color-stop(100%,#faa519)); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top,  #ffb202 0%,#faa519 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top,  #ffb202 0%,#faa519 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top,  #ffb202 0%,#faa519 100%); *//* IE10+ *//*
    background: linear-gradient(to bottom,  #ffb202 0%,#faa519 100%); *//* W3C *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb202', endColorstr='#faa519',GradientType=0 ); *//* IE6-9 *//*
    */
    color: #fff;
    width: 100%;
    display: block;
    font-size: 15px;
    font-weight:400;
    /*text-shadow: 0px 2px 0px rgba(255,255,255,0.15);*/
    clear: both;
    text-align: center;
    margin: 15px 0px;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.orange-button_large {
    height: 46px;
    font-size: 18px;
    line-height: 46px;
}
