input[type="radio"]{
    width: 20px;
    height: 20px;
}
.pagination a { display: inline-block; padding: 5px 10px; color: #333; border: 1px solid #bbb; background: url(../images/buttonbg5.png) repeat-x bottom left; }
.pagination a { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.pagination a { -moz-box-shadow: 1px 1px 0 #f7f7f7; -webkit-box-shadow: 1px 1px 0 #f7f7f7; box-shadow: 1px 1px 0 #f7f7f7; }
.pagination a:hover { -moz-box-shadow: inset 1px 1px 3px #eee; -webkit-box-shadow: inset 1px 1px 3px #eee; }
.pagination a:hover { text-decoration: none; background: #eee; box-shadow: inset 1px 1px 3px #eee; }
.pagination a.disabled { color: #999; border: 1px solid #ccc; }
.pagination a.disabled:hover { background: url(../images/buttonbg5.png) repeat-x bottom left; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.pagination a.current { background: #333 url(../images/buttonbg3.png) repeat-x top left; color: #fff; border: 1px solid #666; }
.pagination a.current:hover { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.pgright { position: absolute; right: 10px; top: 12px; }
.pgright a.disabled { border: 1px solid #ccc; }
.image_product_details div.row{
    float: left;
    margin: 5px;
    padding: 5px;
    border:1px solid #09f;
}
.image_product_details  input{
    margin-left: 20px;
    width: 44px;
}
.image_product_details img{
    float: left;
    height:  60px;   
    width:   60px;

}
.image_product_details a{
    white-space: nowrap;
    float: left;
    width: 80px;
    margin-left: 5px;
}
#attr_content{
    background: #ccc;
    border: 1px solid #ddd;
    padding: 10px;
    width: 500px;       
    border-radius: 10px;
}
#attr_content .row_attr{margin-bottom: 5px;border-bottom: 1px solid #7ad03a;padding-bottom: 5px}
#attr_content input{width: 120px;}
#attr_content .row_attr span{display: block;float: left;color: green;font-size: 18px;font-weight: bold;margin-right: 15px;}
#attr_content input[type="file"]{width: auto;margin-right: 10px;}
.location_other {font-weight: bold;color: rgb(221, 147, 11);}
.location_current {font-weight: bold;color: rgb(221, 11, 11);}
#example2 p{padding: 0}
.price_error{background: #CE9595;}

#list_result div.row_search{height: 45px;}
#list_result{display: none;position: absolute;width: 100%;max-height: 500px;background: #fff;z-index: 99;border: 1px solid #ccc;overflow: auto !important;}
#list_result div{border-bottom: 1px solid #ccc;padding: 5px;cursor: pointer;height: 58px;}
#list_result div.active{background: #ccc;}
#list_result div:hover{background: #ccc;}
#list_result div img{width: 40px;float: left;margin-right: 10px;}
#list_result div span{color: #000;}
.search-results{
    box-shadow: 0 1px 3px 0 #7d7d7d;
    -webkit-box-shadow: 0 1px 3px 0 #7d7d7d;
    -moz-box-shadow: 0 1px 3px 0 #7d7d7d;
    background: #fff;
    position: absolute;
    z-index: 99999;
    left: 0px;
    top: 48px;
}
.list_item {
    width: 100%;
    padding: 0px;
}
.list_item img{
    position: inherit;
    width: 50px;
}
.list_item li {
    float: left;
    background: #fff;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
.list_item li:hover{
    background: #dfeaf2
}
.list_item li:first-child {
    border-top: none;
}
.list_item .thumbnail {
    float: left;
    margin: 0 10px 0 0;
}
.list_item .title {
    font-weight: 700;
    margin-top: 5px;
}
.list_item .price {
    font-size: 14px;
    margin-top: 8px;
    color: red;
    clear: both; 
}
.del_product_id{
    float: right;
    padding: 5px 10px;
    background: #f4f4f4;
}
.search-results .del_product_id{
    display: none;
}
.sidebar-menu .treeview-menu>li.active>a {
    background: #365461 !important;
    color:#fff !important;
}
.cellphone{
    height: 85px;
    padding: 10px 0;
    background-color: #f2f2f2;
}

.tags{
    border-radius: 3px;
    background-color: #ccc;
    padding: 5px;
}

.box.box-default{
    background-color: #fafcfd!important;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a{
    white-space: normal !important;
}
.notify_see{
    opacity: 0.5;
}
.notify_not_see{
    background: #f4f4f4;
}
.quote{
    border: #929292 1px dashed;
    padding: 10px;
}

/*.box-tools span{
    display: inline-block;
    padding: 2px 10px;
    font-size: 20px;
}*/
.box-tools span b{
    color: red
}
#passport #in_put{
    width: 100%;
    float: left;
    padding: 0 5px;
}
#passport i{
    margin: 0 3px;
    cursor: pointer;
    color: #ccc;
}
#passport i:hover{
    color: red
}
.filter_chat span{
    padding: 2px 5px;
    cursor: pointer;
    background: #f4f4f4;
}
.filter_chat span:hover{
    background: #ccc;
}
.filter_chat .active{
    background: #00a65a;
    color: #fff;
}
.c-red{
    color: #ff0000;
}
.nopadding{
    padding: 0;
    padding-right: 10px
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header, .table{
    font-family: sans-serif !important;
}
.products-list .product-info{margin-left: 5px!important}
.products-list .product-info .status{margin-left: 10px}
.products-list .product-description{display: normal}
.dashed{
    border-style:dashed 
}
.pr-0{
    padding-right: 0px;
}
.display-right{
    transform: translate3d(1500px, 0, 0);
}
.display-none{
    display: none;
}
.bg-note{background: #f4f4f4;color:#999;padding: 0 3px; margin-right: 5px}
.alert-important{
    padding: 20px 30px; background: rgb(243, 156, 18); z-index: 999999; font-size: 16px; font-weight: 600;
}
.alert-important .block{color: rgb(255, 255, 255); font-size: 20px;}
.alert-important .news{color: rgba(255, 255, 255, 0.9); display: inline-block; margin-right: 10px; text-decoration: none;}
.alert-important .action{margin-top: -5px; border: 0px; box-shadow: none; color: rgb(243, 156, 18); font-weight: 600; background: rgb(255, 255, 255);}
.c-gray{color:#bbb }
.sidebar-menu>li>a {
    padding: 5px 5px 5px 15px;
}
.sidebar-menu>li.active>a {
    border-left-color: #365461;
}

.visa_price th, .visa_price td{
    border-right: 1px solid #e8e8e8;
}
.txt-left{text-align: left}
.select2-selection__choice{color:#000!important}
.user-panel>.info>a{font-size: 12px}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: unset;
}
.padding-right-20 {padding-right: 20px}
.text{font-family: sans-serif}
.text .timeline-body ul li{margin-bottom: 10px}
.larger-txt{font-size: 110%}
.select2-container--default .select2-selection--single{
    background-color: #fff!important;
    border: 1px solid #aaa!important;
    border-radius: 0!important;
}
.select2-container .select2-selection--single{
    height: 35px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: auto!important;
}